In [ ]:
# Experiment No. - 2
# Name : Pranav Menon
# PRN No. : 25070123085
# Branch : ENTC
# Batch : B1

# Aim of the Experiment : Study of List in Python

In [6]:
# Introduction to "list" in python
list1=["apple","banana","orange"]
print(list1)

['apple', 'banana', 'orange']

In [9]:
# To print Alphanumeric list
list2 = [2,2.3,"pranav",True]
print(list2)

[2, 2.3, 'pranav', True]

In [22]:
# To implement Indexing of the list
list4=["apple","banana","orange","cherry","mango","kiwi"]
print(list4[2])
print(list4[-4])
print(list4[2:5])
print(list4[:4])
print(list4[2:])

orange
orange
['orange', 'cherry', 'mango']
['apple', 'banana', 'orange', 'cherry']
['orange', 'cherry', 'mango', 'kiwi']

In [24]:
# To replace an element in list
list5=["apple","orange","mango"]
list5[2] = "cherry"
print(list5)

['apple', 'orange', 'cherry']

In [32]:
# To add an element in the list
list6=["apple","orange","cherry"]
list6.append("mango")
print(list6)

['apple', 'orange', 'cherry', 'mango']

In [33]:
# To change the position of an element in list
list7=["apple","banana","orange",]
list7.insert(1,"mango")
print(list7)

['apple', 'mango', 'banana', 'orange']

In [42]:
# To combine two list
list8=["apple","banana","orange"]
list9=["mango","kiwi","cherry"]
list8.extend(list9)
print(list8)
print(list9)

['apple', 'banana', 'orange', 'mango', 'kiwi', 'cherry']
['mango', 'kiwi', 'cherry']

In [60]:
# Practice Questions
marks = [90,82,66,76,33]
print("The Maximum Marks are : " , max(marks))
print("The Minimum Marks are : " , min(marks))
print("The Number of Students are : " , len(marks))
print("The Sum of marks of students are : " , sum(marks))
print("The Average marks of students are : " , sum(marks)/len(marks))
marks.sort()
print("Sorted array of marks are : " , (marks))
print("Sorted array of marks are : " , sorted(marks))

The Maximum Marks are :  90
The Minimum Marks are :  33
The Number of Students are :  5
The Sum of marks of students are :  347
The Average marks of students are :  69.4
Sorted array of marks are :  [33, 66, 76, 82, 90]
Sorted array of marks are :  [33, 66, 76, 82, 90]

In [68]:
# Practice Questions
grocery = ["apple","Milk","Eggs","Bread","Butter"]
grocery.append("mango")
print(grocery)
grocery.remove("apple")
grocery.remove("Milk")
print(grocery)
print("Final Grocery List : " , grocery)

['apple', 'Milk', 'Eggs', 'Bread', 'Butter', 'mango']
['Eggs', 'Bread', 'Butter', 'mango']
Final Grocery List :  ['Eggs', 'Bread', 'Butter', 'mango']